<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <%- include('partials/cssLinks')%>
</head>

<body>
  <div class="tm-page-container mx-auto">

    <!-- HEADER -->
    <%- include('partials/header')%>

    <section class="tm-section">

      <!-- NAVIGATION -->
      <%- include('partials/navigation')%>

      <div>

        <!-- CONTENT -->
        <%- include('content/'+ content) %>

      </div>
    </section>

    <footer>
      <!-- FOOTER -->
      <%- include('partials/footer')%>

    </footer>
  </div>
</body>

</html>